@import 'bootstrap/scss/bootstrap.scss'; // direct import from node_modules
@import "variables";

.help-anything {
  text-align: center;
  background: pink;
  color: white;
}

.blue {
  color: blue;
}

